<footer class="footer bg-td py-3 fixed-bottom">
    <div class="d-flex flex-row space-between">
        <small class="text-light mr-auto pl-5">TweetSentiment 2020</small>
        <small class="text-light ml-auto pr-5">Ameer Adhami <a href="#" class="text-muted"><i class="fab fa-github"></i>
                Source</a></small>
    </div>
</footer>