<% layout('layouts/boilerplate') %>
<form action="/search" method="POST" id="search-form">
    <textarea name="search" id="search" cols="30" rows="5"></textarea>
    <button>search</button>
</form>

<script src="/javascripts/search.js"></script>