.bg-td {
    background-color: #55acee;
}

.bg-tl {
    background-color: #e2f2fb;
}

.neg {
    background-color: #ffebee;
}

.pos {
    background-color: #E8F5E9;
}

#search-row {
    height: 55vh;
}

.nav-link:hover {
    border-bottom: solid 1px white;
}